* {
    font-family: "{{ asset('fonts/goodTimesrg.otf') }}";
}

body {
    margin: 0%;
    background-color: #C4DFDF;
}

/* h desc */
h2 {
    color: white;
}

/* Header */

header {
    background-color: #27374D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    margin-left: 2%;
    color: #DDE6ED;
    font-size: 2em;
}

.navigation a {
    position: relative;
    color: #526D82;
    text-decoration: none;
    margin-right: 10px;
}

.navigation .btnLogin-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transform: .5s;
    font-size: 20px;
    margin-right: 20px;
}

.navigation .btnLogin-popup:hover {
    background: #ffff;
    color: red;
}


.row {
    margin-top: 1%;
    display: flex;
}

.column {
    flex: 50%;
}

/* Horn */

.horn-alert {
    margin-top: 7%;
    background-color: #FA9884;
    font-size: 18px;
    color: red;
    font-weight: bold;
}

/* Tron */

.tron {
    position: block;
    background-color: #111;
}

/* Input */
input {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* Button */
button {
    margin-top: 1%;
    margin-bottom: 1%;
}

.btn-submit {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #ffff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transform: .5s;

}

.btn-submit:hover {
    background: #dff;
    color: red;
}


/* Form Dosen */
.judul-form-dosen {
    text-align: center;
    font-size: 18px;
}

/* Side Nav */
.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 10%;
    left: 85%;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 3%;
    padding-left: 5px;
}

.side-nav ul {
    background-color: aqua;
    padding: 2px;
}

.side-nav ul li {
    font-size: large;
    color: white;
}

.side-nav p {
    color: white;
    font-size: 18px;
    font-style: bold;
}

/* Table Jadwal Kuliah */
.table-jadwal-kuliah {
    text-align: left;
    position: relative;
    border-collapse: collapse;
    margin: 0 auto;
}

.table-jadwal-kuliah th {
    background: #2c3b46;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 8px;
    color: aliceblue;
    width: 150px;
}


/* Table Active */
.table-active {
    background-color: green;
}